<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_Widgets>
      <version>1.1.0</version>
    </Openpay_Widgets>
  </modules>
  <global>
    <helpers>
      <widgets>
        <class>Openpay_Widgets_Helper</class>
      </widgets>
    </helpers>
    <blocks>
      <widgets>
        <class>Openpay_Widgets_Block</class>
      </widgets>
    </blocks>
    <models>
      <widgets>
        <class>Openpay_Widgets_Model</class>
      </widgets>
      <openpay>
        <rewrite>
          <payment_openpay>Openpay_Widgets_Model_Payment_Openpay</payment_openpay>
        </rewrite>
      </openpay>
    </models>
  </global>
  <frontend>
    <layout>
        <updates>
            <widgets>
                <file>openpay/widgets.xml</file>
            </widgets>
        </updates>
    </layout>
  </frontend>
  <default>
    <widgets>
      <general>
        <enable>0</enable>
        <jquery>0</jquery>
      </general>
      <header>
        <enable>0</enable>
      </header>
      <product>
        <enable>0</enable>
      </product>
      <catalog>
        <enable>0</enable>
      </catalog>
      <cart>
        <enable>0</enable>
      </cart>
      <checkout>
        <enable>0</enable>
        <instalment>Pay in interest free fortnightly instalments.</instalment>
        <redirect>You will be redirected to Openpay's website to complete your order when you click "Proceed to Openpay".</redirect>
      </checkout>
    </widgets>
  </default>
</config> 